.our-temmate {
  display: flex;
  gap: 30px;
  padding: 0px 135px 140px;
}

.temmate-cart {
  width: 370px;
  display: flex;
  gap: 60;
  flex-direction: column;
}

.temmate-cart h1 {
  font-size: 32px;
  color: black;
  margin-top: 34px;
}

.temmate-cart p {
  color: black;
  font-size: 16px;
  margin-top: 10px;
}

.temmate-icon {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.temmate-icon a {
  color: black;
  font-size: 20px;
}
