* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

/* Default light mode */

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark a {
  color: #ffffff;
}
